// Body
// todo: add variables

// Typography
$font-family-black: "VAGRoundedLTCYR-Black", sans-serif;
$font-family-light: "VAGRoundedLTCYR-light", sans-serif;
$font-family-bold: "VAGRoundedLTCYR-bold", sans-serif;
$font-family-ragular: "YWFT-Hannah-Regular", sans-serif;
// $font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
